# Dataset
NSLKDD/

# Trained models
models/*.pkl

# Python
__pycache__/
*.py[cod]
*.pyo
.Python
venv/
.venv/
*.egg-info/

# Jupyter
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# macOS
.DS_Store

# Env
.env
